.menu-section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    color: black;
}

.menu-section .ab{
    font-size: 1.5em;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: red;
    text-transform: uppercase;
}
.au{
    text-align: center;
    color:red;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;

}
.menu-section .aff {
    color: black;
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

.menu-category {
    margin: 10px;
    text-align: left;
    color: black;
}

.menu-category .aff {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 15px;
}
.aff {
    color: black;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 5px;
    line-height: 1.5;
}
.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.infos-pratiques {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #b7b4b4;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.infos-pratiques .av {
    font-size: 1.5em;
    /* border-bottom: 2px solid red; */
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.av {
    text-align: center;
    color: gray;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    width: 100%;
}
.infos-pratiques .services,
.infos-pratiques .moyens-paiement,
.infos-pratiques .a-proximite {
    margin-bottom: 20px;
}
.se {
    color: #cb2276;  
    padding-bottom: 10px;
    text-align: start;
}

.infos-pratiques h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.recommandations {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}

.recommandations img {
    margin: 5px;
    max-width: 100px;
    height: auto;
}

.es{
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    list-style: none;
    font-size: 15px;
}

.vi {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    
}
