.chef-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}



.chef-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: black;
}

.chef-section .ao{
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    font-size: 24px;
}

.chef-image{
    width: 100%;
    margin-top: 20px;
}

.restaurant-image {
    width: 100%;
    margin-top: 20px;
}