.chef-section, .story-section, .restaurant-info {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chef-section h1, .story-section h2, .restaurant-info h2 {
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

.chef-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.chef-info img {
    max-width: 50%;
    margin-right: 20px;
}

/* .infos-pratiques {
    background-color: #e0e0e0;
    padding: 20px;
}

.infos-pratiques h2 {
    margin-top: 0;
}

.badges img {
    display: block;
    margin: 10px 0;
} */

.restaurant-image {
    width: 100%;
    margin-top: 20px;
}